/* For webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
html {
    scrollbar-width: none; /* Hides the scrollbar */
}

/* General overflow settings */
body {
    overflow: -moz-scrollbars-none; /* Fallback for old browsers */
    overflow-y: scroll; /* Ensure content can scroll without a visible bar */

    /*for the toggle light and dark mode*/
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%; /* Prevents content overflow */
}

/** .hero {
    background-color: #f8f8f8;
    padding: 50px;
}

.categories {
    margin: 20px 0;
}

.category-list {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.category-card {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.products {
    margin: 30px 0;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    width: 200px;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
    **/

:root {
    --bg-color: #f3f4f6;
    --text-color: #333333;
}

[data-theme="dark"] {
    --bg-color: #333333;
    --text-color: white;
}